<div id="login">
    <h3 class="text-center text-white pt-5">Registro</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form [formGroup]="form" id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Registro</h3>
                        <div class="form-group">
                            <label for="name" class="text-info">Nombre</label><br>
                            <input type="text" name="name" id="name" class="form-control"
                            autocomplete="off" formControlName="name">
                            <div *ngIf="f.name.touched && f.name.invalid">
                                <div *ngIf="f.name.errors.required">Nombre es requerido</div>
                                <div *ngIf="f.name.errors.pattern">Valida tu nombre</div>
                                <div *ngIf="f.name.errors.minlength">El nombre es muy corto</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="text-info">Apellido</label><br>
                            <input type="text" name="lastname" id="lastname" class="form-control"
                            autocomplete="off" formControlName="lastname">
                            <div *ngIf="f.lastname.touched && f.lastname.invalid">
                                <div *ngIf="f.lastname.errors.required">Apellido es requerido</div>
                                <div *ngIf="f.lastname.errors.pattern">Valida tu apellido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Correo</label><br>
                            <input type="email" name="username" id="username" class="form-control"
                            autocomplete="off" formControlName="username">
                            <div *ngIf="f.username.touched && f.username.invalid">
                                <div *ngIf="f.username.errors.required">Correo es requerido</div>
                                <div *ngIf="f.username.errors.email">Ups, valida tu correo</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="text-info">Telefono</label><br>
                            <input type="tel" name="phone" id="phone" class="form-control"
                            autocomplete="off" formControlName="phone">
                            <div *ngIf="f.phone.touched && f.phone.invalid">
                                <div *ngIf="f.phone.errors.required">Telefono es requerido</div>
                                <div *ngIf="f.phone.errors.pattern">Valida tu telefono - 10 digitos</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contrasena</label><br>
                            <input type="password" name="password" id="password" class="form-control"
                            formControlName="password">
                            <div *ngIf="f.password.touched && f.password.invalid">
                                <div *ngIf="f.password.errors.required">Contrasena es requerida</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cfpassword" class="text-info">Confirmar Contrasena</label><br>
                            <input type="password" name="cfpassword" id="cfpassword" class="form-control"
                            formControlName="cfpassword">
                            <div *ngIf="form.hasError('passwordNotEqual')">
                                Las contrasenas no son iguales
                            </div>
                            <div *ngIf="f.cfpassword.touched && f.cfpassword.invalid">
                                <div *ngIf="f.cfpassword.errors.required">Contrasena es requerida</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <br>
                            <input type="submit" name="submit" class="btn btn-info btn-md"
                            [disabled]="form.invalid" (click)="submit()" value="Aceptar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>